POSTGRES_DB=warehouse_flow_manager_demo
POSTGRES_USER=postgres_user_demo
POSTGRES_PASSWORD=postgres_password_demo
POSTGRES_PORT=5433

DB_NAME=warehouse_flow_manager_demo
DB_USERNAME=postgres_user_demo
DB_PASSWORD=postgres_password_demo

SERVER_PORT=8081
SPRING_PROFILES_ACTIVE=demo